//
//  Config.xcconfig
//  nose
//
//  Created by Tamaki Fujino on 2025/06/28.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Pods/Target Support Files/Pods-nose/Pods-nose.development.xcconfig"

GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.489383670741-rv2v85atn42kgfv1d8ot96r06omhoogg
GOOGLE_CLIENT_ID = 489383670741-rv2v85atn42kgfv1d8ot96r06omhoogg.apps.googleusercontent.com
